<!DOCTYPE html>
<head>
  <title>Red Glass</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="/scripts/jquery-1.7.1.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/jquery.periodic.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/prettify/prettify.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/red-glass-app.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ui-lightness/jquery-ui-1.8.17.custom.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/blueprint/screen.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/blueprint/plugins/fancy-type/screen.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/prettify.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/red-glass.css">
</head>
<body>
<div class="container">
  <div id="header" class="span-24 last">
    <div id="logo-container" class="span-6">
      <img src="/images/rg-logo.png"/>
    </div>
    <div class="span-17 last">
        <a id="kill" href="/kill">Kill Server</a>
    </div>
  </div>
  <div id="main" class="span-24 last">
    <div class="span-23 last">
      <table>
        <thead>
        <tr>
          <th>Time</th><th>Event</th><th>Target</th><th>DOM &Delta;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="waiting" class="prepend-8 span-8 append-8 last">
    <h1>Waiting for events</h1>
    <img class="push-3" src="/images/ajax-loader.gif"/>
  </div>
</div>

</body>
</html>
